<div class="container my-4" style="margin-top:250px">
  <div *ngIf="local">
    <h1 class="mb-4">{{ local.localType }}</h1>

    <!-- Carousel for Images -->
    <div id="carouselExampleControls{{local.localID}}" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let imageUrl of local.imageUrls; let i = index" [ngClass]="{'active': i === 0 }">
          <img [src]="imageUrl" class="d-block w-100" alt="local Image" style="height: 300px; object-fit: cover;">
          <div class="read-more-overlay">
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls{{local.localID}}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls{{local.localID}}" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!-- Local Details -->
    <div class="container my-5">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title mb-4">Local Details</h5>
          <dl class="row mb-0">
            <dt class="col-sm-3 fw-bold">Location:</dt>
            <dd class="col-sm-9">{{ local.location }}</dd>

            <dt class="col-sm-3 fw-bold">Description:</dt>
            <dd class="col-sm-9">{{ local.localDescription }}</dd>

            <dt class="col-sm-3 fw-bold">Amenities:</dt>
            <dd class="col-sm-9">{{ local.amenities }}</dd>

            <dt class="col-sm-3 fw-bold">Area:</dt>
            <dd class="col-sm-9">{{ local.details }}</dd>






          </dl>
        </div>
      </div>
    </div>





  </div>
</div>
