<!-- Bookmark Content -->
<div class="dashboard-content">
  <div class="container">
      <div class="bookmarks-content grid-view featured-slider">
          <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12 mb-4" *ngFor="let local of locals">
                  <div class="card border-0 shadow-sm rounded overflow-hidden">
                      <!-- Carousel -->
                      <div id="carouselExampleControls{{local.localID}}" class="carousel slide">
                          <div class="carousel-inner">
                              <div class="carousel-item" *ngFor="let imageUrl of local.imageUrls; let i = index" [ngClass]="{'active': i === 0 }">
                                  <img [src]="imageUrl" class="d-block w-100" alt="local Image" style="height: 300px; object-fit: cover;">
                              </div>
                          </div>
                          <a class="carousel-control-prev" href="#carouselExampleControls{{local.localID}}" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#carouselExampleControls{{local.localID}}" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                          </a>
                      </div>

                      <!-- Card Body -->
                      <div class="card-body p-4">
                        <h5 class="card-title mb-3" style="display: flex;justify-content:space-between">
                          <a class="text-dark text-decoration-none">{{ local.localType }}</a>
                          <div>
                            <button class="btn btn-outline-secondary ms-2" (click)="goToUpdate(local.localID)">Update</button>
                            <button class="btn btn-outline-danger ms-2" (click)="deleteLocal(local.localID)">Delete</button>

                            <button class="btn btn-outline-success ms-2" (click)="Details(local.localID)">Details</button>
                                  </div>

                        </h5>
                          <p class="card-text mb-3"><strong style="color: darkred;">{{ local.location }}</strong> </p>
                          <p class="mb-2"><strong>Amenities:</strong> {{ local.amenities }}</p>
                          <p class="mb-2"><strong>Details:</strong> {{ local.details }}</p>
                          <p class="mb-3"><strong>Posted at :</strong> {{ local.visitDate }}</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="amount-details">
                              <div class="amount">
                                <span *ngIf="local.rent > 0" class="badge bg-primary" id="f1" >Rent: {{ local.rent }} DT</span>
                                <span *ngIf="local.sell > 0" class="badge bg-success" id="f2">Sell: {{ local.sell }} DT</span>
                                <span class="badge bg-warning" id="f3">REF: {{ local.bookingPrice }}</span>
                              </div>
                            </div>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
